{% extends 'base.html.twig' %}

{% block title %}Operation{% endblock %}

{% block body %}
<div id="layoutSidenav_content">
 

    <table class="table">
        <tbody>
         
            <tr>
                <th>Ref</th>
                <td>{{ operation.ref }}</td>
                <td></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ operation.type }}</td>
                <td></td>

            </tr>
            <tr>
                <td><a href="{{ path('operation_index') }}" class="btn btn-secondary">retour à la liste</a></td>
                <td><a href="{{ path('operation_edit', {'id': operation.id}) }}" class="btn btn-success">modification</a></td>
                <td>{{ include('operation/_delete_form.html.twig') }}</td>
            </tr>
        </tbody>
    </table>

    </div>
{% endblock %}
